@component('components/layout', { title: title })
  <h1>
    {{ deck.name }}
  </h1>
  <p>
    {{ deck.description }}
  </p>
  @each(card in cards)
    <div>
      <h2>
        {{ card.front }}
      </h2>
      <p>
        {{ card.back }}
      </p>
      <hr />
    </div>
  @end
  <form action="{{ route('card.create', { id: deck.id }) }}" method="GET">
    <button class="add-button" type="submit">Ajouter une carte</button>
  </form>
@endcomponent
