@component('components/layout', { title: title })
  <div class="finish-container">
    <h1>
      Vous avez joué le deck
    </h1>
    <p class="deck-name">
      {{ deckName }}
    </p>
    <p class="mode-label">
      en mode <strong>{{ mode }}</strong>
    </p>
    @if(mode == 'revision')
      <p class="score">
        Votre score : {{ score }} / {{ total }}
      </p>
      @if(score === total)
        <br />
        <p class="result">
          Félicitations, vous avez tout juste !
        </p>
      @elseif(score === 0)
        <br />
        <p class="result">
          Désolé, mais vous êtes nuuull
        </p>
      @endif
    @endif
    <a href="{{ route('deck.show', { id: deckId }) }}" class="add-button">Retourner vers le deck</a>
  </div>

  <style>
    .finish-container {
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
      text-align: center;
      margin-top: 60px;
    }
    
    .deck-name {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .mode-label {
      font-size: 18px;
      margin-bottom: 20px;
    }
    
    .result {
      font-size: 22px;
      margin-bottom: 40px;
    }
  </style>
@endcomponent
