@component('components/layout', { title: title })
  <form action="{{ route('card.update', { id: card.id }) }}" method="POST">
    {{ csrfField() }}
    {{-- Bloc front --}}
    <div class="field">
      <label for="front">Question</label>
      <input type="text" id="front" name="front" value="{{ old('front') || card.front }}" />
      @inputError('front')
        <p class="text-danger">
          {{ $messages.join(', ') }}
        </p>
      @end
    </div>
    {{-- Bloc back --}}
    <div class="field">
      <label for="back">Réponse</label>
      <input type="text" id="back" name="back" value="{{ old('back') || card.back }}" />
      @inputError('back')
        <p class="text-danger">
          {{ $messages.join(', ') }}
        </p>
      @end
    </div>
    <button class="add-button" type="submit">Enregistrer</button>
  </form>
@endcomponent
