<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      Version statique de l'application des surnoms
    </title>
  </head>
  <body>
    @component('components/layout', { title: 'Accueil' })
      @each(deck in decks)
        <a class="deck-link" href="{{ route('deck.show', { id: deck.id }) }}">
          <div class="deck-card">
            <h2>
              {{ deck.name }}
            </h2>
            <p>
              {{ deck.description }}
            </p>
            <hr />
          </div>
        @end
      </a>
      <form action="{{ route('deck.create') }}" method="GET">
        <button class="create-deck" type="submit">Créer un nouveau deck</button>
      </form>
    @endcomponent
      
    <script src="js/script.js">

    </script>
  </div>

</body>

</html>
