@component('components/layout', { title: title })
  <form action="{{ route('section.store') }}" method="POST">
    {{ csrfField() }}
    {{-- Bloc Prénom --}}
    <div class="field">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ old('name') || '' }}" />
      @inputError('name')
        <p class="text-danger">
          {{ $messages.join(', ') }}
        </p>
      @end
    </div>
    <button type="submit">Enregistrer</button>
  </form>
@end
